.env
Relatorio_Completo_Almater.pdf
Relatorio_Completo_SCVP.pdf
chroma_Relatorio_Completo_Almater
chroma_Relatorio_Completo_SCVP
chromax_indicadores_base_2
indicadores_base_2.xlsx
indicadores_financeiros_almater.xlsx
~$indicadores_base_2.xlsx
ragScrath.py
indicadores_base_2 - Copia.xlsx
.venv
.ingest_manifest
.ingest_state.json
